<%= form_with(model: valor, local: true) do |form| %>
  <% if valor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(valor.errors.count, "error") %> prohibited this valor from being saved:</h2>

      <ul>
      <% valor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valor1 %>
    <%= form.text_field :valor1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
